# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment
.env
.env.local
.env.production

# Prisma
prisma/migrations/

# PWA
public/sw.js
public/workbox-*.js
public/worker-*.js
public/fallback-*.js

# Misc
.DS_Store
*.pem
npm-debug.log*
